# Documents
/docs/_*
/docs/*.log

# Cache
*__pycache__*

# Personal
*my_*
/my_&
*My*

# System data and debug
/pypogs/data/*
/pypogs/debug/*

# Builds
/build/*
/dist/*
*egg-info*

# Settings
/setup.cfg
